<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<div th:fragment="sideBar">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky" th:with="currentUri=${#ctx.springRequestContext.requestUri}">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link"
                       th:classappend="${currentUri} == '/' ? 'active' : ''"
                       th:href="@{/}">
                        대시보드
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:classappend="${currentUri} == '/mypage' ? 'active' : ''"
                       th:href="@{/mypage}">
                        마이페이지
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:classappend="${currentUri} == '/messages' ? 'active' : ''"
                       th:href="@{/messages}">
                        메시지
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:classappend="${currentUri} == '/config' ? 'active' : ''"
                       th:href="@{/config}">
                        환경설정
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</html>